.header-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.header-cont>*{
margin-left: 15px;
text-decoration: none;  
color: rgba(0,0,0, 0.87)
}

.link:hover{
    text-decoration: underline;
}