
.search-bar{
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
   
}
.search-bar-cont{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    width: 75vw;
    max-width: 600px;
    margin-top: 150px; 
    height:40px;
}